{% extends "::base.html.twig" %}

{% block body %}
    <div class="module-roster-create">
        <p class="history">There's a new adventurer on the lands of Esirith. Tell me, who is it...</p>
        <form action="{{ path('character.roster.create') }}" method="post">
            <div class="form-control-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </div>

            <div class="form-control-group">
                <label for="race">Race</label>
                <select name="race" id="race">
                    {% for race in races %}
                        <option value="{{ race.id }}">{{ race.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-control-group">
                <label for="class">Class</label>
                <select name="class" id="class">
                    {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="roster-filter">
                Filter: <a href="" data-filter="">All</a>, <a href="" data-filter="human-male">Human male</a>, <a href="" data-filter="human-female">Human female</a>
            </div>
            <div class="roster-portrait">

                <input type="hidden" name="portrait" value="" />
                {% for portrait in portraits %}
                    <img
                        src="{{ asset('/portraits/'~portrait.folder~'/'~portrait.file) | imagine_filter('portrait_medium') }}"
                        data-portrait-folder="{{ portrait.folder }}"
                        data-portrait-file="{{ portrait.file }}"
                    />
                {% endfor %}
            </div>

            <div class="form-control-action">
                <input type="submit" class="btn btn-large" value="Go adventuring!" />
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@CharacterBundle/Resources/public/js/roster-create.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
