{% extends "::base.html.twig" %}

{% block body %}
    <div class="module-roster">
        <p class="history">Let's choose which character go to Esirith, or create a new one.</p>
        <ul>
            {% for character in user.characters %}
                <li>
                    <span class="roster-portrait">
                        <img class="portrait" src="{{ asset('portraits/'~character.portrait) | imagine_filter('portrait_mini') }}" />
                    </span>
                    <span class="roster-name">{{ character.name }}</span>
                    <span class="roster-info">{{ character.race.name }} / {{ character.class.name }}</span>
                    <span class="roster-game">{{ character.game.name }}</span>
                    {% if character.dead %}
                        <span class="roster-dead">Dead</span>
                    {% else %}
                        <a href="{{ path('character.roster.select', {id:character.id}) }}" class="btn">Select</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path('character.roster.create') }}" class="btn btn-large roster-new">Create a new character</a>

        <div class="module-roster-image">
            <img src="{{ asset('bundles/ui/img/modules/roster.jpg') }}" />
        </div>
    </div>
{% endblock %}
