{% extends "::base.html.twig" %}

{% block body %}
    <h1>Character sheet</h1>

    <ul>
        <li><strong>{{ character.name }} the {{ character.race.name }} {{ character.class.name }}</strong></li>
        {% if character.xp >= constant('Game\\CharacterBundle\\Manager\\XPManager::LEVELUP_XP_NEEDED') %}
            <li><i class="char-xp-lvl" title="Level and Experience"></i> {{ character.level }} ({{ character.xp }}XP) <a href="{{ path('character.levelup.index') }}">Level up</a></li>
        {% else %}
            <li><i class="char-xp" title="Level and Experience"></i> {{ character.level }} ({{ character.xp }}XP)</li>
        {% endif %}
        <li><i class="char-gold" title="Gold"></i> {{ character.gold }}</li>
        <li><i class="char-hp" title="Health points"></i> {{ character.currentHP }}/{{ character.hp }}</li>
        <li><i class="char-mana" title="Mana points"></i> {{ character.currentMana }}/{{ character.mana }}</li>
        <li><i class="char-damage" title="Damage"></i> {{ character.damage }}</li>
        <li><i class="char-defense" title="Defense"></i> {{ character.defense }}</li>
        <li><i class="char-str" title="Strength"></i> {{ character.str }}</li>
        <li><i class="char-dex" title="Dextery"></i> {{ character.dex }}</li>
        <li><i class="char-int" title="Intelligence"></i> {{ character.int }}</li>
        <li><i class="char-spi" title="Spirit"></i> {{ character.spi }}</li>
    </ul>
{% endblock %}