<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Game.dev{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link href="http://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet" type="text/css">


        {% if app.environment == 'dev' %}
            {% stylesheets
            '@jquery_ui_theme'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
            <script>
                less = {
                    env: "development",
                    async: false,
                    fileAsync: false,
                    poll: 1000,
                    functions: {},
                    //dumpLineNumbers: "comments",
                    relativeUrls: false
                    //rootpath: ":/a.com/"
                };
            </script>
            <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/ui/less/game.less') }}" />
            <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
        {% else %}
            {% stylesheets
            'bundles/ui/less/game.less'
            '@jquery_ui_theme'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endif %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% javascripts
        '@jquery'
        '@jquery_ui'
        'bundles/ui/js/plugins/jquery.countdown.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div class="outer">
            <div class="header">
                <a class="logo" href=""></a>
                {% if app.user %}
                    <ul class="menu-user">
                        <li>Logged as <strong>{{ app.user.username }}</strong></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                    {% if app.session.get('character_id') %}
                    <ul class="menu-game">
                        {#<li><a class="menu-faq" href=""></a></li>#}
                        {#<li><a class="menu-search" href=""></a></li>#}
                        {#<li><a class="menu-pm" href=""></a></li>#}
                        <li><a class="menu-register has-tooltip" href="{{ path('quest.index') }}" title="Quests"></a></li>
                        <li><a class="menu-members has-tooltip" href="{{ path('companion.index') }}" title="Companions"></a></li>
                        <li><a class="menu-profile has-tooltip" href="{{ path('character.sheet') }}" title="Character Sheet"></a></li>
                        {#<li><a class="menu-groups has-tooltip" href="{{ path('character.roster.index') }}" title="Character Selection"></a></li>#}
                        <li><a class="menu-login has-tooltip" href="{{ path('character.inventory.index') }}" title="Inventory"></a></li>
                        <li><a class="menu-map has-tooltip" href="{{ path('map.view') }}" title="Map"></a></li>
                    </ul>
                    {% endif %}
                {% endif %}
            </div>
            {% if app.user %}
                {{ render(controller('CharacterBundle:Status:index')) }}
            {% endif %}
            <div class="inner">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="flash-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="flash-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>
            <div class="corner corner-tl"></div>
            <div class="corner corner-tr"></div>
            <div class="corner corner-bl"></div>
            <div class="corner corner-br"></div>
        </div>
        {% block javascripts %}{% endblock %}
        {% javascripts
        '@UIBundle/Resources/public/js/base.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
