<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Game.dev{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link href="http://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet" type="text/css">
        {% stylesheets 'bundles/ui/less/game.less' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    </head>
    <body>
        <div class="outer">
            <div class="header">
                <a class="logo" href=""></a>
                <ul>
                    <li><a class="menu-faq" href=""></a></li>
                    <li><a class="menu-search" href=""></a></li>
                    <li><a class="menu-pm" href=""></a></li>
                    <li><a class="menu-register" href=""></a></li>
                    <li><a class="menu-groups" href=""></a></li>
                    <li><a class="menu-profile" href="{{ path('character.sheet') }}"></a></li>
                    <li><a class="menu-members" href="{{ path('character.roster.index') }}"></a></li>
                    <li><a class="menu-login" href="{{ path('character.inventory.index') }}"></a></li>
                    <li><a class="menu-map" href="{{ path('map.view') }}"></a></li>
                </ul>
            </div>
            {{ render(controller('CharacterBundle:Status:index')) }}
            <div class="inner">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="flash-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="flash-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>
            <div class="corner corner-tl"></div>
            <div class="corner corner-tr"></div>
            <div class="corner corner-bl"></div>
            <div class="corner corner-br"></div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
