<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Game.dev{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link href="http://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet" type="text/css">
        {% stylesheets
        'bundles/ui/less/game.less'
        '@jquery_ui_theme'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% javascripts
        '@jquery'
        '@jquery_ui' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div class="outer">
            <div class="header">
                <a class="logo" href=""></a>
                {% if app.user %}
                <ul>
                    {#<li><a class="menu-faq" href=""></a></li>#}
                    {#<li><a class="menu-search" href=""></a></li>#}
                    {#<li><a class="menu-pm" href=""></a></li>#}
                    {#<li><a class="menu-register" href=""></a></li>#}
                    {#<li><a class="menu-groups" href=""></a></li>#}
                    <li><a class="menu-profile has-tooltip" href="{{ path('character.sheet') }}" title="Character Sheet"></a></li>
                    {#<li><a class="menu-members has-tooltip" href="{{ path('character.roster.index') }}" title="Character Selection"></a></li>#}
                    <li><a class="menu-login has-tooltip" href="{{ path('character.inventory.index') }}" title="Inventory"></a></li>
                    <li><a class="menu-map has-tooltip" href="{{ path('map.view') }}" title="Map"></a></li>
                </ul>
                {% endif %}
            </div>
            {% if app.user %}
                {{ render(controller('CharacterBundle:Status:index')) }}
            {% endif %}
            <div class="inner">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="flash-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="flash-info">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>
            <div class="corner corner-tl"></div>
            <div class="corner corner-tr"></div>
            <div class="corner corner-bl"></div>
            <div class="corner corner-br"></div>
        </div>
        {% block javascripts %}{% endblock %}
        {% javascripts
        '@UIBundle/Resources/public/js/base.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
