{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="module-login">
    {% if error %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-control-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="form-control-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>

        <div class="form-control-action">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Remember me</label>
        </div>

        <div class="form-control-action">
            <input type="submit" id="_submit" name="_submit" value="Login" />
        </div>

        <div class="form-control-action social-login">
            or
            <ul>
                <li>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-facebook" alt="Enter with Facebook">Enter with Facebook</a>
                </li>
                <li>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" class="btn btn-twitter" alt="Enter with Twitter">Enter with Twitter</a>
                </li>
            </ul>
        </div>
    </form>
</div>
{% endblock %}