{% extends "::base.html.twig" %}

{% block body %}
    <div class="module-shop">
        <p class="history">You are in the {{ shop.name }}. You take a look in your pocket, you have {{ char.gold }} gold, spend it wisely. <a href="{{ path('map.view') }}" class="btn">Get out</a></p>
        <div class="shop-buy">
            <strong>Buy</strong>
            <ul>
                {% for shopItem in shop.items %}
                    <li>
                        <span class="shop-item">{{ renderItem(shopItem.item)|raw }}</span>
                        <span class="shop-price">{{ calculateSellPrice(shop, shopItem.item) }} gold</span>
                        <a href="{{ path('shop.buy', {id:shopItem.id}) }}" class="btn">Buy</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="shop-sell">
            <strong>Sell</strong>
            <ul>
                {% for characterItem in items %}
                    <li>
                        <span class="shop-item">{{ renderItem(characterItem.item)|raw }}</span>
                        <span class="shop-price">{{ calculateBuyPrice(shop, characterItem.item) }} gold</span>
                        <a href="{{ path('shop.sell', {item:characterItem.id, shop:shop.id}) }}" class="btn">Sell</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
