{% extends "::base.html.twig" %}

{% block body %}
    <div class="module-companion">
        <div class="companion-generate">
            <p class="history">
                {% if canGenerate %}
                    You can search for an adventurer to join your cause.
                    <a href="{{ path('companion.generate') }}" class="btn">Search</a> for {{ constant('Game\\CompanionBundle\\Manager\\CompanionManager::REGENERATE_GOLD') }} gold.
                {% else %}
                    It's too early to search for a new adventurer right now. Try again in {% if timeLeft %}<span class="countdown">{{ timeLeft }}</span>{% endif %}.
                {% endif %}
            </p>
        </div>
        {% if party %}
            <div class="companion-hire">
                <strong>Your party</strong>
                <ul>
                    {% for companion in party %}
                    <li>
                        {% include 'CompanionBundle:Render:companion-mini.html.twig' with {'companion':companion} %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if pending %}
        <div class="companion-hire">
            <strong>Hire</strong>
            <ul>
                <li>
                    {% include 'CompanionBundle:Render:companion-mini.html.twig' with {'companion':pending} %}
                    <a href="{{ path('companion.hire', {'id':pending.id}) }}" class="btn">Hire ({{ constant('Game\\CompanionBundle\\Manager\\CompanionManager::HIRE_GOLD') }} gold)</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@UIBundle/Resources/public/js/plugins/jquery.countdown.js'
    '@CompanionBundle/Resources/public/js/index.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
