{% extends "::base.html.twig" %}

{% block body %}
    <div class="module-rest">
        <p class="history">
            {% if restResult == constant('Game\\MapBundle\\Manager\\RestPointManager::REST_RESULT_SAFE') %}
                You sleep placidly in a safe place, restoring {{ restore }} HP. <a href="{{ path('map.view') }}" class="btn">Wake up</a>
            {% endif %}

            {% if restResult == constant('Game\\MapBundle\\Manager\\RestPointManager::REST_RESULT_OK') %}
                You manage to rest a little in this dangeous place, restoring {{ restore }} HP. <a href="{{ path('map.view') }}" class="btn">Wake up</a>
            {% endif %}

            {% if restResult == constant('Game\\MapBundle\\Manager\\RestPointManager::REST_RESULT_NOT_ENOUGH_MONEY') %}
                Sorry adventurer, you don't have enough money to sleep here. <a href="{{ path('map.view') }}" class="btn">Go back</a>
            {% endif %}

            {% if restResult == constant('Game\\MapBundle\\Manager\\RestPointManager::REST_RESULT_DANGER') %}
                You were trying to rest when a noise wakes you up!
            {% endif %}
        </p>
    </div>
{% endblock %}
