{% extends "::base.html.twig" %}

{% block body %}

{% set currentPoi = char.currentpoi %}

<div class="module-map">
    <div class="map-actions">
        <div class="map-travel history">
            {{ char.name }} is in {{ currentPoi.name }}.
            {% if currentPoi.startpaths|length > 0 %}
            There is a path to:
            <ul>
                {% for paths in currentPoi.startpaths %}
                    {#{% if loop.index != 1 %}, {% endif %}{{ paths.end.name }}#}
                    <li>{{ paths.end.name }} <a href="{{ path('map.travel.to', {'id':paths.end.id}) }}" class="btn">Travel</a></li>
                {% endfor %}
            </ul>
            Be careful, travelling may be dangerous!
            {% endif %}
        </div>

        {% include "MapBundle:Render:others.html.twig" with {'others':others} %}

        {% if currentPoi.shops|length > 0 %}
            <div class="map-shop">
                <p class="history">
                    Maybe you want to buy some adventuring gear or sell your bounties:
                    {% for shop in currentPoi.shops %}
                        {{ shop.name }} <a href="{{ path('shop.view', {id:shop.id}) }}" class="btn">Trade</a>
                    {% endfor %}
                </p>
            </div>
        {% endif %}

        {% if currentPoi.startLinks|length > 0 %}
            <div class="map-links">
                <p class="history">You see an
                    {% for link in currentPoi.startLinks %}
                        {% if loop.index != 1 %}, {% endif %}
                        {{ link.name }} <a href="{{ path('map.travel.enter', {'id':link.end.id}) }}" class="btn">Enter</a>
                {% endfor %}
                </p>
            </div>
        {% endif %}

        {% if currentPoi.restPoint|length > 0 %}
            {% set restPoint = currentPoi.restPoint %}
            <div class="map-restpoint">
                <p class="history">
                    There is a {{ restPoint.name }} where you can rest.
                    {% if restPoint.type == 1 %}
                        <br />
                        It will cost you {{ restPoint.cost }} gold.
                    {% endif %}
                    <a class="btn" href="{{ path('map.rest', {id:restPoint.id}) }}">Rest</a>
                </p>
            </div>

        {% endif %}

        {% if treasure %}
            <div class="map-treasure">
                <p class="history">
                    You found a unoppened chest <a href="{{ path('map.open.treasure', {id:treasure.id}) }}" class="btn">Open</a>.
                </p>
            </div>
        {% endif %}
    </div>

    {% include "MapBundle:Render:map.html.twig" with {'map': map, 'currentPoi': currentPoi} %}
</div>
{% endblock %}
