<div class="character-status">
{% if character %}
    <ul>
        <li><strong>{{ character.name }}</strong></li>
        {% if character.xp >= constant('Game\\CharacterBundle\\Manager\\XPManager::LEVELUP_XP_NEEDED') %}
        <li><i class="char-xp-lvl" title="Level and Experience"></i> {{ character.level }} ({{ character.xp }}XP) <a href="{{ path('character.levelup.index') }}">Level up</a></li>
        {% else %}
        <li class="has-tooltip" title="Level and Experience"><i class="char-xp"></i> {{ character.level }} ({{ character.xp }}XP)</li>
        {% endif %}
        <li class="has-tooltip" title="Gold"><i class="char-gold"></i> {{ character.gold }}</li>
        <li class="has-tooltip" title="Health points"><i class="char-hp"></i> {{ character.currentHP }}/{{ character.hp }}</li>
        <li class="has-tooltip" title="Mana points"><i class="char-mana"></i> {{ character.currentMana }}/{{ character.mana }}</li>
        <li class="has-tooltip" title="Damage"><i class="char-damage"></i> {{ character.damage }}</li>
        <li class="has-tooltip" title="Defense"><i class="char-defense"></i> {{ character.defense }}</li>
        <li class="has-tooltip" title="Strength"><i class="char-str"></i> {{ character.str }}</li>
        <li class="has-tooltip" title="Dextery"><i class="char-dex"></i> {{ character.dex }}</li>
        <li class="has-tooltip" title="Intelligence"><i class="char-int"></i> {{ character.int }}</li>
        <li class="has-tooltip" title="Spirit"><i class="char-spi"></i> {{ character.spi }}</li>
    </ul>
{% else %}
    <a href="{{ path('character.roster.index') }}">Select o create a character to start playing!</a>
{% endif %}
</div>