{% extends "::base.html.twig" %}

{% block body %}
    <p>
        Enemies:
        <ul>
        {% for battleMonster in battle.battleMonsters %}
            {% set monster = battleMonster.monster %}
            <li><img src="{{ asset('bundles/ui/img/monster/'~monster.image) }}" /> {{ monster.name }} x {{ battleMonster.number }}</li>
        {% endfor %}
        </ul>
    </p>
    <p>
        Actions:
        <ul>
            <li><a href="{{ path('battle.battle.resolve') }}">Fight</a></li>
            <li><a href="">Flee</a></li>
        </ul>
    </p>
    <img src="{{ asset('bundles/ui/img/event/battle.jpg') }}" style="width: 1046px;" />
{% endblock %}
