<div class="map-wrapper">
    <a href="#" title="{{ currentPoi.name }} (current location)" class="has-tooltip map-poi current-poi" style="top:{{ currentPoi.y-15 }}px; left:{{ currentPoi.x-15 }}px;"></a>
    {% for paths in currentPoi.startpaths %}
        <a
                href="{{ path('map.travel.to', {'id':paths.end.id}) }}"
                title="{{ paths.end.name }}{% if paths.end.infected %} (Under attack){% endif %}"
                class="has-tooltip map-poi{% if paths.end.infected %} map-poi-infected{% endif %}"
                style="top:{{ paths.end.y-10 }}px; left:{{ paths.end.x-10 }}px;"
        >
        </a>
    {% endfor %}
    <img src="{{asset('bundles/map/images/'~map.filename) }}" />
</div>