{% extends "::base.html.twig" %}

{% block body %}
    <div class="module-travel">
        <p class="history">
            {{ char.name }} was travelling to {{ poi.name }}. You hear a noise in your back, damn you are under attack!
            <br />
            You see
            {% for battleMonster in battle.battleMonsters %}
                {% set monster = battleMonster.monster %}
                {% if loop.index != 1 %}, {% endif %}
                {{ battleMonster.number }} {{ monster.name }} <img src="{{ asset('bundles/ui/img/monster/'~monster.image) }}" />
            {% endfor %}. Prepare yourself to the battle!
        </p>

        <div class="battle-log">
            <img src="{{ asset('bundles/ui/img/event/battle.png') }}" />
            <p class="log">
                {% for turn in result.log.turns %}
                    {{ turn }}<br />
                {% endfor %}
            </p>
        </div>


        {% if result.status == 1 %}
            <div class="battle-win">
                <p class="history">
                    You won the battle and gain {{ xp }} XP.
                    {% if loot.gold or loot.items|length > 0 %}
                        {% if loot.gold > 0 %}
                            Looking for some loot you found {{ loot.gold }} gold coins.
                        {% endif %}
                        {% if loot.items|length > 0 %}
                            Also, you take
                            {% for item in loot.items %}
                                {% if loop.index != 1 %}, {% endif %}
                                {{ renderItem(item)|raw }}
                            {% endfor %}
                            from the corpse. Maybe its useful or can be sold.
                        {% endif %}
                    {% endif %}
                    <br />Now you can resume your travelling <a href="{{ path('map.view') }}" class="btn">Go to map</a>.
                </p>
            </div>
        {% else %}
            <div class="battle-lose">
                <p class="history">
                    You lost the battle. You barely manage to escape from the battle. Gained {{ xp }} XP.
                <br />Now you can resume your travelling <a href="{{ path('map.view') }}" class="btn">Go to map</a>.
                </p>
                <img src="{{ asset('bundles/ui/img/event/battle_result_lost.jpg') }}" />
            </div>
        {% endif %}
    </div>
{% endblock %}