{% extends "::base.html.twig" %}

{% block body %}
<h1>Travel</h1>
<p>{{ char.name }} is travelling to {{ poi.name }}...</p>
<p>
    Checking if you encounter some problems...<br />
    Rolling a d100 dice...{{ dice }}<br />
    {% if combat %}Someone stumbled upon you! <a href="{{ path('battle.battle.view') }}">Combat</a>{% else %}You don't find any problems{% endif %}<br />
    Restore points: <br />
    Hp: +{{ restore.hp }}
</p>
<p><a href="{{ path('map.view') }}">View map</a></p>
{% endblock %}