{% extends "::base.html.twig" %}

{% block body %}
<p>{{ char.name }} is in {{ char.currentpoi.name }}</p>
<p>
    Could travel to:
    {% for paths in char.currentpoi.startpaths %}
    <li><a href="{{ path('map.travel.to', {'id':paths.end.id}) }}">{{ paths.end.name }}</a></li>
    {% endfor %}
</p>
<div class="map-wrapper">
    <a href="#" title="{{ char.currentpoi.name }}" class="map-poi current-poi" style="top:{{ char.currentpoi.y-10 }}px; left:{{ char.currentpoi.x-10 }}px;"></a>
    {% for paths in char.currentpoi.startpaths %}
    <a href="{{ path('map.travel.to', {'id':paths.end.id}) }}" title="{{ paths.end.name }}" class="map-poi" style="top:{{ paths.end.y-10 }}px; left:{{ paths.end.x-10 }}px;"></a>
    {% endfor %}
    <img src="{{asset('bundles/gamemap/images/'~map.filename) }}" />
</div>
{% endblock %}
